<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Spring App</title>
    </head>
    <body>
        <h1>Product Details</h1>
        <a href="/">Back to Product List</a>
        <br /><br />
        <table>
            <tr>
                <td>ID</td>
                <td>:</td>
                <td th:utext="${product.id}"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>:</td>
                <td th:utext="${product.name}"></td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td>:</td>
                <td th:utext="${product.quantity}"></td>
            </tr>
            <tr>
                <td>Unit</td>
                <td>:</td>
                <td th:utext="${product.unit}"></td>
            </tr>
            <tr>
                <td>Price</td>
                <td>:</td>
                <td th:utext="${product.price}"></td>
            </tr>
            <tr>
                <td>Currency</td>
                <td>:</td>
                <td th:utext="${product.currency}"></td>
            </tr>
            <tr>
                <td>Expiration Date</td>
                <td>:</td>
                <td th:utext="${product.expirationDate}"></td>
            </tr>
        </table>
    </body>
</html>
